In [8]:
import requests
import pandas as pd

# Set the base URL and headers
base_url = "https://api.themoviedb.org/3/movie/popular?language=en-US&page="
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhNDhhMmIwNzk4NTRiNjc4YzNkZGY2OTAwYjIwMWVmZCIsInN1YiI6IjY1NmQyM2RmMDg1OWI0MDEzOTUyMThjZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.klFZxQuVifDTMV49eF9QvbqwceS_zoRQKPRJb1FVeeE"
}

# Initialize an empty list to store data from each page
all_data = []

# Loop through pages 1 to 50
for page in range(1, 300):
    # Make a request for each page
    response = requests.get(base_url + str(page), headers=headers)
    data = response.json().get('results', [])

    if data:
        # Append the data to the list
        all_data.extend(data)

# Convert the combined data to a DataFrame
df = pd.DataFrame(all_data)

# Save the DataFrame to a CSV file
df.to_csv('all_movie_data_copy.csv', index=False)

# Save the DataFrame to an Excel file
df.to_excel('all_movie_data_copy.xlsx', index=False)

# Print the DataFrame
print(df)
print("DataFrame saved to 'all_movie_data.csv' and 'all_movie_data.xlsx'")

      adult                     backdrop_path                   genre_ids  \
0     False  /9PqD3wSIjntyJDBzMNuxuKHwpUD.jpg             [16, 35, 10751]
1     False  /xgGGinKRL8xeRkaAR9RMbtyk60y.jpg  [16, 10751, 10402, 14, 35]
2     False  /fm6KqXpk3M2HVveHwCrBSSBaO0V.jpg                    [18, 36]
3     False  /t5zCBSB5xMDKcDqe91qahCOUYVV.jpg                  [27, 9648]
4     False  /kjQBrc00fB2RjHZB3PGR4w9ibpz.jpg               [878, 28, 53]
...     ...                               ...                         ...
5975  False  /gDDKAEv18gIckmEFhVrp79VvJKD.jpg                 [18, 10752]
5976  False  /7SYNEG50fKODsTP6h9phYM3BueV.jpg                    [37, 12]
5977  False  /61zVzhJ1BnvYiC7THoLf4jyrxBw.jpg            [80, 18, 53, 27]
5978  False  /vIOqw0OBXpSeAxBVYwWqCMrcda8.jpg         [28, 18, 36, 10752]
5979  False  /1o9hhza17nZ5Lu05MFKtat99JBK.jpg              [10770, 10749]

           id original_language              original_title  \
0     1075794                en                         Leo
1      901362                en        Trolls Band Together
2      872585                en                 Oppenheimer
3      507089                en     Five Nights at Freddy's
4      670292                en                 The Creator
...       ...               ...                         ...
5975    19067                en               The Duellists
5976      995                en                  Stagecoach
5977    73475                de  Der Ruf der blonden Göttin
5978    14433                en                        Zulu
5979   299584                en       Christmas Under Wraps

                                               overview  popularity  \
0     Jaded 74-year-old lizard Leo has been stuck in...    1914.015
1     When Branch’s brother, Floyd, is kidnapped for...    1319.467
2     The story of J. Robert Oppenheimer's role in t...    1118.317
3     Recently fired and desperate for work, a troub...     897.338
4     Amid a future war between the human race and t...     826.093
...                                                 ...         ...
5975  In 1800, as Napoleon Bonaparte rises to power ...      18.509
5976  A group of people traveling on a stagecoach fi...      19.160
5977  Susan arrives in Haiti to live with her husban...      20.391
5978  In 1879, during the Anglo-Zulu War, man-of-the...      20.560
5979  When a driven doctor doesn't get the prestigio...      20.387

                           poster_path release_date  \
0     /pD6sL4vntUOXHmuvJPPZAgvyfd9.jpg   2023-11-17
1     /bkpPTZUdq31UGDovmszsg2CchiI.jpg   2023-10-12
2     /8Gxv8gSFCU0XGDykEGv7zR1n2ua.jpg   2023-07-19
3     /j9mH1pr3IahtraTWxVEMANmPSGR.jpg   2023-10-25
4     /vBZ0qvaRxqEhZwl6LWmruJqWE8Z.jpg   2023-09-27
...                                ...          ...
5975  /s9sPhcfD4LtrIGwix11bKtl9VLR.jpg   1977-08-31
5976  /b4RUzWOalyPbUu66TT147b5iR0M.jpg   1939-03-03
5977  /4M1TMBzg9FZvRQkvcf8nQLSclu5.jpg   1977-12-09
5978  /9V7tl1kIb67ZPRRNlUdy3JvqEiA.jpg   1964-01-22
5979  /uBPISDQB1FRhJHQMID7H9DlRon6.jpg   2014-11-29

                           title  video  vote_average  vote_count
0                            Leo  False         7.554         371
1           Trolls Band Together  False         7.256         252
2                    Oppenheimer  False         8.154        5137
3        Five Nights at Freddy's  False         7.848        2640
4                    The Creator  False         7.127        1271
...                          ...    ...           ...         ...
5975               The Duellists  False         7.300         476
5976                  Stagecoach  False         7.653        1013
5977  Call of the Blonde Goddess  False         5.714          49
5978                        Zulu  False         7.363         461
5979       Christmas Under Wraps  False         5.883         183

[5980 rows x 14 columns]
DataFrame saved to 'all_movie_data.csv' and 'all_movie_data.xlsx'

In [39]:
import pandas as pd
import ast 
from datetime import datetime

# Load the CSV file into a DataFrame
csv_file_path = 'all_movie_data_copy.csv'
df = pd.read_csv(csv_file_path)

columns_to_drop = ['backdrop_path', 'poster_path', 'original_title', 'video', 'adult', 'overview']
df = df.drop(columns=columns_to_drop, errors='ignore')

def extract_first_number(x):
    try:
        x_list = ast.literal_eval(x)
        return int(x_list[0]) if isinstance(x_list, list) and len(x_list) > 0 else None
    except (SyntaxError, ValueError):
        return None

df['genre_ids'] = df['genre_ids'].apply(extract_first_number)
df = df.drop_duplicates(subset=['id'])

# Convert 'release_date' to datetime format
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Filter rows based on release_date and drop rows with any missing values
cutoff_date = datetime(2023, 12, 4)
df = df[df['release_date'].notna() & (df['release_date'] <= cutoff_date)]
df = df.sort_values(by='release_date')
df = df.dropna()

print(df)

      genre_ids       id original_language  popularity release_date  \
5766       18.0   194011                da      12.461   1910-08-02
5681       35.0    10098                en      20.927   1921-01-21
2545       14.0      653                de      29.456   1922-02-16
5415       18.0      643                ru      21.458   1925-12-24
4140       18.0       19                de      24.583   1927-02-06
...         ...      ...               ...         ...          ...
2226    10770.0  1053725                en      34.279   2023-12-03
3647    10770.0  1171952                zh      26.246   2023-12-03
2935    10770.0  1180746                en      29.380   2023-12-03
3015    10770.0  1047703                en      28.930   2023-12-03
2662    10770.0  1180367                en      30.899   2023-12-03

                              title  vote_average  vote_count
5766          The White Slave Trade         5.292          12
5681                        The Kid         8.194        1903
2545                      Nosferatu         7.715        1791
5415            Battleship Potemkin         7.637        1054
4140                     Metropolis         8.152        2465
...                             ...           ...         ...
2226  Royally Yours, This Christmas        10.000           1
3647                 The Unforgiven         0.000           0
2935          Christmas with a Kiss         0.000           0
3015      Sincerely Truly Christmas         0.000           0
2662         The Jinglebell Jubilee         0.000           0

[5913 rows x 8 columns]

In [5]:
import requests

url = "https://api.themoviedb.org/3/configuration/languages"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhNDhhMmIwNzk4NTRiNjc4YzNkZGY2OTAwYjIwMWVmZCIsInN1YiI6IjY1NmQyM2RmMDg1OWI0MDEzOTUyMThjZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.klFZxQuVifDTMV49eF9QvbqwceS_zoRQKPRJb1FVeeE"
}

response = requests.get(url, headers=headers)

data = response.json()

# Convert the JSON data into a DataFrame
df_language = pd.DataFrame(data)
df_language.to_csv('df_language_raw.csv', index=False)
df_language['name_id'] = range(1, len(df_language) + 1)
df_language = df_language.drop(columns='name')
print(df_language)

df_language.to_csv('df_language.csv', index=False)

    iso_639_1 english_name  name_id
0          xx  No Language        1
1          aa         Afar        2
2          af    Afrikaans        3
3          ak         Akan        4
4          an    Aragonese        5
..        ...          ...      ...
182        bn      Bengali      183
183        bs      Bosnian      184
184        ch     Chamorro      185
185        be   Belarusian      186
186        yo       Yoruba      187

[187 rows x 3 columns]

In [40]:
import pandas as pd

# Assuming 'df' and 'df_language' are your DataFrames
df_merged = pd.merge(df, df_language, left_on='original_language', right_on='iso_639_1', how='left')

# Drop duplicates based on the 'id' column
df_merged = df_merged.drop_duplicates(subset=['id'])

# Drop the redundant columns and rearrange the DataFrame
df_merged = df_merged.drop(columns=['original_language', 'iso_639_1', 'english_name'])
df_merged = df_merged.rename(columns={'name_id': 'original_language'})

df = df_merged
print(df)

date_counts = df['release_date'].value_counts()
print("\nDate Counts:")
print(date_counts)

      genre_ids       id  popularity release_date  \
0          18.0   194011      12.461   1910-08-02
1          35.0    10098      20.927   1921-01-21
2          14.0      653      29.456   1922-02-16
3          18.0      643      21.458   1925-12-24
4          18.0       19      24.583   1927-02-06
...         ...      ...         ...          ...
5908    10770.0  1053725      34.279   2023-12-03
5909    10770.0  1171952      26.246   2023-12-03
5910    10770.0  1180746      29.380   2023-12-03
5911    10770.0  1047703      28.930   2023-12-03
5912    10770.0  1180367      30.899   2023-12-03

                              title  vote_average  vote_count  \
0             The White Slave Trade         5.292          12
1                           The Kid         8.194        1903
2                         Nosferatu         7.715        1791
3               Battleship Potemkin         7.637        1054
4                        Metropolis         8.152        2465
...                             ...           ...         ...
5908  Royally Yours, This Christmas        10.000           1
5909                 The Unforgiven         0.000           0
5910          Christmas with a Kiss         0.000           0
5911      Sincerely Truly Christmas         0.000           0
5912         The Jinglebell Jubilee         0.000           0

      original_language
0                    25
1                   179
2                    26
3                   119
4                    26
...                 ...
5908                179
5909                167
5910                179
5911                179
5912                179

[5913 rows x 8 columns]

Date Counts:
2023-12-01    17
2023-12-02    13
2023-04-27    10
2023-11-16    10
2023-10-27     9
              ..
2009-11-06     1
2009-11-07     1
2009-11-18     1
2009-11-19     1
1910-08-02     1
Name: release_date, Length: 4092, dtype: int64

In [41]:
df_popid = df[['vote_average', 'popularity', 'vote_count']].copy()
df_popid['popularity_id'] = range(1, len(df_popid) + 1)
print(df_popid)
df_popid.to_csv('popularity_id.csv', index=False)

      vote_average  popularity  vote_count  popularity_id
0            5.292      12.461          12              1
1            8.194      20.927        1903              2
2            7.715      29.456        1791              3
3            7.637      21.458        1054              4
4            8.152      24.583        2465              5
...            ...         ...         ...            ...
5908        10.000      34.279           1           5909
5909         0.000      26.246           0           5910
5910         0.000      29.380           0           5911
5911         0.000      28.930           0           5912
5912         0.000      30.899           0           5913

[5913 rows x 4 columns]

In [45]:
import pandas as pd

# Assuming 'df' is your DataFrame
df = df.dropna(subset=['release_date'])

# Convert 'release_date' to datetime format
df = df.copy()  # Create a copy of the DataFrame to avoid SettingWithCopyWarning
df['release_date'] = pd.to_datetime(df['release_date'])

# Sort the DataFrame based on 'release_date' and reset the index
df_sorted = df.sort_values(by='release_date').reset_index(drop=True)

# Create a new column 'date_id' with the desired values
df_sorted['date_id'] = range(1, len(df_sorted) + 1)

# Save the DataFrame as a CSV file
df_sorted[['release_date', 'date_id']].to_csv('date_id_file.csv', index=False)

# Display the new DataFrame with 'release_date' and 'date_id'
print("Date:")
print(df_sorted[['release_date', 'date_id']])

# Create a new DataFrame with only 'id' and 'title'
id_title_df = df[['id', 'title', 'genre_ids', 'original_language']].copy()

# Merge the 'date_id' column from df_sorted into id_title_df based on 'id'
id_title_df = pd.merge(id_title_df, df_sorted[['id', 'date_id']], on='id', how='left')
id_title_df['popularity_id'] = range(1, len(id_title_df) + 1)

# Rename the 'original_language' column to 'language_id'
id_title_df = id_title_df.rename(columns={'original_language': 'language_id'})

# Save the new DataFrame to a CSV file
id_title_df.to_csv('main_title_data.csv', index=False)

# Print the new DataFrame with 'id', 'title', and 'date_id'
print("ID and Title DataFrame:")
print(id_title_df)

Date:
     release_date  date_id
0      1910-08-02        1
1      1921-01-21        2
2      1922-02-16        3
3      1925-12-24        4
4      1927-02-06        5
...           ...      ...
5908   2023-12-03     5909
5909   2023-12-03     5910
5910   2023-12-03     5911
5911   2023-12-03     5912
5912   2023-12-03     5913

[5913 rows x 2 columns]
ID and Title DataFrame:
           id                          title  genre_ids  language_id  date_id  \
0      194011          The White Slave Trade       18.0           25        1
1       10098                        The Kid       35.0          179        2
2         653                      Nosferatu       14.0           26        3
3         643            Battleship Potemkin       18.0          119        4
4          19                     Metropolis       18.0           26        5
...       ...                            ...        ...          ...      ...
5908  1053725  Royally Yours, This Christmas    10770.0          179     5912
5909  1171952                 The Unforgiven    10770.0          167     5909
5910  1180746          Christmas with a Kiss    10770.0          179     5908
5911  1047703      Sincerely Truly Christmas    10770.0          179     5910
5912  1180367         The Jinglebell Jubilee    10770.0          179     5913

      popularity_id
0                 1
1                 2
2                 3
3                 4
4                 5
...             ...
5908           5909
5909           5910
5910           5911
5911           5912
5912           5913

[5913 rows x 6 columns]

In [43]:
import requests
import pandas as pd

url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhNDhhMmIwNzk4NTRiNjc4YzNkZGY2OTAwYjIwMWVmZCIsInN1YiI6IjY1NmQyM2RmMDg1OWI0MDEzOTUyMThjZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.klFZxQuVifDTMV49eF9QvbqwceS_zoRQKPRJb1FVeeE"
}

response = requests.get(url, headers=headers)

data = response.json()

# Normalize the 'genres' column
df_genre = pd.json_normalize(data['genres'])

print(df_genre)
# Save the new DataFrame to a CSV file
df_genre.to_csv('df_genre.csv', index=False)

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [44]:
from azure.storage.blob import BlobServiceClient, ContentSettings
import pandas as pd

# Azure Storage Account details
account_name = 'aryanstorage2'
account_key = 'rrNAl5hYoD72okjY/sk1QSO0lxz83ieba/OvvHxvN9UtPHzD5taeGl2UIZX11v4NVNGTy8MISgYi+AStgwvhkA=='
container_name = 'storageprivate'

# Function to upload CSV file to Azure Storage Blob
def upload_csv_to_blob(csv_path, blob_name):
    # Read CSV file content
    df = pd.read_csv(csv_path)
    csv_content = df.to_csv(index=False)

    # Create a connection to Azure Storage Blob
    blob_service_client = BlobServiceClient(account_url=f"https://{account_name}.blob.core.windows.net", credential=account_key)
    container_client = blob_service_client.get_container_client(container_name)
    blob_client = container_client.get_blob_client(blob_name)

    # Upload the CSV file to Azure Storage Blob
    blob_client.upload_blob(csv_content, overwrite=True)

    print(f"File uploaded to Azure Storage Blob: {blob_name}")

upload_csv_to_blob('C:/Users/khand/OneDrive/Desktop/STA 3000/df_genre.csv', 'storageprivate/genre_id.csv')
upload_csv_to_blob('C:/Users/khand/OneDrive/Desktop/STA 3000/main_title_data.csv' , 'storageprivate/main_title_data.csv')
upload_csv_to_blob('C:/Users/khand/OneDrive/Desktop/STA 3000/date_id_file.csv' , 'storageprivate/date_id.csv')
upload_csv_to_blob('C:/Users/khand/OneDrive/Desktop/STA 3000/popularity_id.csv' , 'storageprivate/popularity_id.csv')
upload_csv_to_blob('C:/Users/khand/OneDrive/Desktop/STA 3000/df_language.csv' , 'storageprivate/language_id.csv')
upload_csv_to_blob('C:/Users/khand/OneDrive/Desktop/STA 3000/all_movie_data_copy.csv' , 'storageprivate/raw_movie_data.csv')
upload_csv_to_blob('C:/Users/khand/OneDrive/Desktop/STA 3000/df_language_raw.csv' , 'storageprivate/language_raw.csv')

File uploaded to Azure Storage Blob: storageprivate/genre_id.csv
File uploaded to Azure Storage Blob: storageprivate/main_title_data.csv
File uploaded to Azure Storage Blob: storageprivate/date_id.csv
File uploaded to Azure Storage Blob: storageprivate/popularity_id.csv
File uploaded to Azure Storage Blob: storageprivate/language_id.csv
File uploaded to Azure Storage Blob: storageprivate/raw_movie_data.csv
File uploaded to Azure Storage Blob: storageprivate/language_raw.csv